body {
      background-color: paleturquoise;
      border: black 
}
h1 {
      background-color; grey;
      color: black;
      font;serif;
      padding; 15px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;

}
li {
  float: left;
}
.column{
      float: left; 
      padding:15 px;
}
 
