body {
      background-color: lightsalmon;
      border: black 
}
h1 {
      color: red;
      font; American Typewriter, serif
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;

}
