body {
      background-color: lightblue;
      border: black 
}
h1 {
      background-color; blue;
      color: black;
      font; 2em "Courier New"; 
      padding; 15px;
}
.header{
  background-image: url("https://th.bing.com/th/id/R38a81df6c3c8486ac39f32cbc63dc2ea?rik=TkHm57%2bBVd7log&pid=ImgRaw");
  background-size: cover;
  color: white;
  text-align: center;
  padding: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;

}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px 
}

li {
  float: left;
}
li a:hover {
  background-color: lightsteelblue;
}
div.sidebar{
	float: right;
	background-color: lightsteelblue;
	padding: 70px;
	font; 2em "Courier New";
	border: 1px solid;
}
 table {
	 font: small-caps medium cursive; 
  border-collapse: collapse;
  width: 50%;
}
	


	


 
